<md-dialog aria-label="Mango (Fruit)" class="notesDialog" ng-cloak>
    <div layout-align="start center">
        <div class="md-padding">
            <div layout="row">
                <div flex>
                    <md-input-container flex md-no-float>
                        <input type="text" placeholder="Notes"  style="width: 50% !impo;">
                    </md-input-container>
                </div>
                <div flex="10">

                </div>
                <div flex="10">
                </div>
            </div>
            <div layout="row">

                <div flex>
                    <md-input-container flex md-no-float>
                        <input type="text" placeholder="Comments" >
                    </md-input-container>
                </div>
                <div flex="10">
                </div>
                <div flex="10">
                </div>
            </div>

            <div layout="row">
                <div flex="30">

                </div>
                <div flex="35">
                    <md-button style="width: 75% !important;" class="md-raised">Add toDo</md-button>
                </div>
                <div flex="35">
                    <md-button style="width: 75% !important;" class="md-raised md-primary">Cancel</md-button>
                </div>
            </div>
        </div>
    </div>
</md-dialog>